name: Calculator CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  ci-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check files exist
        run: |
          test -f index.html
          test -f style.css
          test -f script.js
